<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel='shortcut icon' href='/favicon.png' type='public/png/'>
  <title>Feels Pepe Man</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:800,300' rel='stylesheet' type='text/css'>
 </head>
 <body>
   <div id="header-wrapper"></div>
   <div id="header">
     <img src="images/feelspepemangrayscale.png" alt="Feels Pepe Man" class="img-circle">
     <div id="header-text">
     <h1>Feels Pepe Man</h1>
       <br>
       <div id="welcome-text">
         <p> <b>Welcome to Feels Pepe Man.</b> </p> 
         <p> Select an emotion. Drag and drop or screenshot categorized Pepes to communicate your feels. </p>
       </div>
     </div>
   </div>
   <div id="container">

    <div id="nav"></div>
    <div id="main">
       <form id="mood">
         <button type="submit" formmethod="post" formaction="/angry">angry</button>
         <button type="submit" formmethod="post" formaction="/cheeky">cheeky</button>
         <button type="submit" formmethod="post" formaction="/childish">childish</button>
         <button type="submit" formmethod="post" formaction="/glamorous">glamorous</button>
         <button type="submit" formmethod="post" formaction="/happy">happy</button>
         <button type="submit" formmethod="post" formaction="/pokemon">pokemon</button>
         <button type="submit" formmethod="post" formaction="/sad">sad</button>
         <button type="submit" formmethod="post" formaction="/sanik">sanik</button>
         <button type="submit" formmethod="post" formaction="/surprised">surprised</button>
         <button type="submit" formmethod="post" formaction="/done">done</button>
         <button type="submit" formmethod="post" formaction="/heisty">heisty</button>
         <button type="submit" formmethod="post" formaction="/lelkek">lelkek</button>
         <button type="submit" formmethod="post" formaction="/turnt">turnt</button>




       </form>
     </div>
   </div>
   <div id="footer"> 
     <p id="rare">These are the RAREST OF ALL PEPES. plz no steal...</p>
     <p id="creds"> Code and Design by Chris Peleti & Nicolette Tovstashy</p>
   </div>
 </body>
</html>